body{
    margin: 0;
}

div{
    margin:0;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    list-style-type: none;
    padding:20px;
    margin:0;
    gap:20px;
    background-color: #1F2937;
}

.navbar .logo{
    margin-right: auto;
    flex:3 1 0;
}

ul a{
    text-decoration: none;
    font-weight: 40px;
    color:#E5E7EB
}

.web-details{
    background-color: #1F2937;
    margin:0;
    padding: 20px;
    display: flex;
    
}

.web-details .exceptimage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.web-details .exceptimage h1{
    align-self: baseline;
    font-weight: 48px;
    color:#F9FAF8;
}

.web-details .exceptimage p{
    font-weight: 18px;
    color:#E5E7EB;
}

.headskills{
    text-align: center;
    margin:30px 0px 30px 0px;
}
.skills .skilldesc{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 0px 50px 50px 50px;
}

.skills .skilldesc p{
    text-align: center;
}

.skills .skilldesc .skill1{
    display:flex;
    flex-direction: column;

}

.skills .skilldesc .skill2{
    display:flex;
    flex-direction: column;
}

.skills .skilldesc .skill3{
    display:flex;
    flex-direction: column;
}

.skills .skilldesc .skill4{
    display:flex;
    flex-direction: column;
}

.Aquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin:0px;
    height:500px;
    font-style: italic;
    font-weight: 36px;
    color:#1F2937;
}

.contactme{
    margin:200px;
    border:2px solid #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 50px;
}

.contactme button{
    margin-right: 0;
    margin-left: auto;
}
.web-details img{
    border-radius: 10px;
    
}

.logo img{
    height:150px;
    width:250px;
}

footer{
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    height:100px;
    padding:50px;
}

